<h3 class="control-title"><a href="#" class="toggle" data-toggle="tooltip" data-placement="bottom" title="Change operating decisions to see how they affect estimated GHG emissions">Model parameters</a></h3>
<div class="mp-summary">
  <dl class="mp-list">
    <dt class="key">Flaring-to-Oil Ratio</dt>
    <dd class="value flare" data-toggle="tooltip" data-placement="bottom" title="Flaring-to-Oil Ratio: Gas associated with oil can be disposed of by burning"><span></span></dd>
    <dt class="key">Steam-to-Oil Ratio</dt>
    <dd class="value steam" data-toggle="tooltip" data-placement="bottom" title="Steam-to-Oil Ratio: Steam can be used to make oil flow during extraction"><span></span></dd>
    <dt class="key">Water Intensity</dt>
    <dd class="value water" data-toggle="tooltip" data-placement="bottom" title="Water Intensity: Water can be produced with oil and/or used during extraction"><span></span></dd>
    <dt class="key">Refinery Configuration</dt>
    <dd class="value refinery" data-toggle="tooltip" data-placement="bottom" title="Refinery Configuration: Refinery design can alter midstream emissions and downstream products"><span></span></dd>
    <dt class="key">Petcoke Combustion</dt>
    <dd class="value petcoke" data-toggle="tooltip" data-placement="bottom" title="Petroleum Coke Combustion: This dirty, bottom-of-the-barrel product might be burned"><span></span></dd>
  </dl>
</div>
<div class="mp-edit">
  <div class="param-control flare">
    <strong class="param-title" data-toggle="tooltip" data-placement="bottom" title="Gas associated with oil can be disposed of by burning">Flaring-to-Oil Ratio</strong>
    <div class="slider" id="slider-flaring"></div>
  </div>
  <div class="param-control steam">
    <strong class="param-title" data-toggle="tooltip" data-placement="bottom" title="Steam can be used to make oil flow during extraction">Steam-to-Oil Ratio</strong>
    <div class="slider" id="slider-steam"></div>
  </div>
  <div class="param-control water">
    <strong class="param-title" data-toggle="tooltip" data-placement="bottom" title="Water can be produced with oil and/or used during extraction">Water Intensity</strong>
    <div class="slider" id="slider-water"></div>
  </div>
  <div class="param-control refinery">
    <strong class="param-title" data-toggle="tooltip" data-placement="bottom" title="Refinery design can alter midstream emissions and downstream products">Refinery Configuration</strong>
    <select class="config-dropdown form-control" id="dropdown-refinery">
      <option value="0 = Default">Default</option>
      <option value="1 = Hydroskimming">Hydroskimming</option>
      <option value="2 = Medium Conversion">Medium Conversion</option>
      <option value="3 = Deep Coking">Deep Conversion: Coking</option>
      <option value="4 = Deep Hydrotreating">Deep Conversion: Hydrocracking</option>
    </select>
  </div>
  <div class="param-control petcoke">
    <strong class="param-title" data-toggle="tooltip" data-placement="bottom" title="This dirty, bottom-of-the-barrel product might be burned">Petroleum Coke Combustion</strong>
    <label class="switch" for="toggle-petcoke">
      <input id="toggle-petcoke" type="checkbox" checked />
      <span class="swtich-text">Petcoke combustion</span>
      <span class="switch-ui"></span>
    </label>
  </div>
</div>
