<section id="supply-curve-view" class="view">

  <!-- intro -->
  <div class="intro">
    <div class="prose">
      <h1 class="prose-prime-title">Explore climate impacts across the expanding oil spectrum.</h1>
      <p>Oils have varying impacts on the climate. Differentiating between these effects involves estimating total greenhouse gas (GHG) emissions for each oil throughout the oil supply chain—from upstream extraction to midstream refining to downstream end use. And that is what the <a href="http://carnegieendowment.org/2015/03/11/know-your-oil-creating-global-oil-climate-index" target="_blank">Oil-Climate Index (OCI)</a> does.</p>
      <p>This emissions supply curve presents the oils modeled to date in the OCI. The oils are ranked by total estimated GHG emissions per barrel.</p>
      <p>Hover over any bar to see the oil name and its assigned oil-climate category (color code). Click “view details” to see additional information about that oil.</p>
    </div>
    <div class="actions">
      <ul class="actions-list">
        <li class="dropdown">
          <a href="#" title="Share" class="bttn bttn-m bttn-base-light share" data-toggle="dropdown">Share</a>
          <div class="dropdown-content right">
            <ul class="dropdown-menu" role="menu">
              <li class="sep has-icon-before twitter"><a href="" target="_blank" title="Share on Twitter">Twitter</a></li>
              <li class="sep has-icon-before facebook"><a href="http://facebook.com/sharer.php" target="_blank" title="Share on Facebook">Facebook</a></li>
              <li class="sep has-icon-before linkedin"><a href="" target="_blank" title="Share on LinkedIn">LinkedIn</a></li>
              <li class="sep has-icon-before email"><a href="" title="Share by email">Email</a></li>
            </ul>
            <div class="input-group dropdown-footer">
              <input class="form-control input-s" type="text" id="share-copy" value="" readonly />
              <a href="#" title="Copy to clipboard" class="bttn bttn-s bttn-base-light copy hide-txt" id="supply-curve-share" data-title="Copy to clipboard"><span>Copy to clipboard</span></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--/ intro -->

  <!-- chart-section -->
  <div class="row">
    <section class="panel" id="sc-chart-cont">
      <header class="panel-header">
        <div class="panel-headline">
          <h1 class="panel-title">Chart</h1>
        </div>
      </header>
      <div class="panel-body">
        <div id="supply-curve" class="data-charts"></div>
      </div>
    </section>
  </div>
  <!--/ chart-section -->

</section>
