.page {

  .data-controls {
    margin: -16px -32px;
    @include bp(tablet-long) {
      margin: -16px;
    }
  }
  .control-section {
    border-bottom: 1px solid tint($base-color, 92%);
    padding: 16px 32px;
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
    .checkbox,
    .radio {
      margin-bottom: 0;
      @include col(1/2, $cycle: 2);
      &:nth-of-type(1),
      &:nth-of-type(2) {
        margin-top: 0;
      }
    }
    .has-button {
      @include span(2/2);
      .bttn {
        margin-left: 8px;
        vertical-align: top;
      }
      .bttn-xs:before {
        font-size: 10px;
      }
    }
    @include bp(tablet-long) {
      padding: 16px;
    }
  }
  .control-title {
    @extend .hd-label;
    font-size: 16px;
    float: none;
    margin: 0 0 12px 0;
  }

  // MOD PARAM SELECTOR

  #model-parameters {
    .control-title {
      a, a:visited {
        color: inherit;
      }
      a:after {
        content: "Edit";
        font-size: inherit;
        background: tint($base-color, 96%);
        border-radius: $global-radius;
        padding: 2px 8px;
        font-family: $base-font-family;
        font-weight: $base-font-bold;
        text-transform: none;
        font-size: 14px;
        margin-left: 8px;
      }
    }
    &.static .control-title a {
      cursor: text;
      &:after {
        display: none;
      }
      &:hover {
        opacity: 1;
      }
    }
    .mp-list {
      @include transform(translate3d(0, 0, 0));
      @extend .clearfix;
      .key {
        @extend .visually-hidden; 
      }
      .value {
        @include col(1/5);
        position: relative;
        padding-top: 32px;
        text-align: center;
        &:before {
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -16px;
          font-size: 32px;
          line-height: 32px;
        }
        span {
          width: 100%;
          @extend .truncated;
          line-height: 20px;
          font-size: 14px;

        }
        &.flare:before { @extend .icon-element-flame; }
        &.steam:before { @extend .icon-element-steam; }
        &.water:before { @extend .icon-element-drop; }
        &.refinery:before { @extend .icon-factory; }
        &.petcoke:before { @extend .icon-element-petcoke; }
      }
    }

    .value.flare:before,
    .param-control.flare .param-title:before {
      @extend .icon-element-flame;
    }
    .value.steam:before,
    .param-control.steam .param-title:before {
      @extend .icon-element-steam;
    }
    .value.water:before,
    .param-control.water .param-title:before {
      @extend .icon-element-drop;
    }
    .value.refinery:before,
    .param-control.refinery .param-title:before {
      @extend .icon-factory;
    }
    .value.petcoke:before,
    .param-control.petcoke .param-title:before {
      @extend .icon-element-petcoke;
    }

    .mp-summary,
    .mp-edit {
      @include transition(max-height 0.24s ease 0, opacity 0.32s ease 0);
    }
    .mp-edit,
    &.open > .mp-summary,
    &.static > .mp-summary  {
      overflow: hidden;
      max-height: 0;
      opacity: 0;
    }
    .mp-summary,
    &.open > .mp-edit,
    &.static > .mp-edit {
      max-height: 10000px;
      opacity: 1;
      overflow: visible;
    }
    &.open > .control-title a:after {
      content: "Done";
    }

    .param-control {
      @extend .clearfix;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .param-title {
      @extend .hd-label;
      position: relative;
      display: block;
      margin-bottom: 12px;
      padding-left: 22px;
      color: tint($base-color, 56%);
      font-size: 14px;
      line-height: 20px;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 16px;
      }
    }
    .slider {
      margin-bottom: 26px;
    }
  }

}