
  .hd-label {
    font-family: $secondary-font-family;
    font-stretch: $secondary-font-stretch;
    text-transform: uppercase;
  }
  .stats-list {
    @extend .clearfix;
    margin: 0;
    padding: 0;
    dt, dd {
      float: left;
      margin: 0;
      padding: 4px 0;
      border-top: 1px solid tint($base-color, 92%);
      &:first-of-type {
        border-top: 0;
      }
    }
    dt {
      @extend .hd-label;
      clear: left;
      padding-right: 8px;
      width: 60%;
    }
    dd {
      text-align: right;
      padding-left: 8px;
      width: 40%;
    }
  }




  h1, h2, h3, h4 {
    margin: 24px 0 16px 0;
    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 28px;
    line-height: 36px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 20px;
    line-height: 28px;
  }
  h4 {
    font-size: 16px;
    line-height: 24px;
  }

  .prose {
    > *:first-child {
      margin-top: 0;
    }

    hr {
      border: 0;
      height: 1px;
      background: $base-color;
      opacity: 0.08;
      width: 100%;
      margin: 32px auto;
    }

    p, ul, ol, dl, img {
      margin-bottom: 16px;
    }
    ul {
      list-style-type: disc;
    }
    ol {
      list-style-type: decimal;
    }
    ul, ol {
      list-style-position: outside;
      margin-left: 32px;
    }
    blockquote {
      margin: 0 0 0 8px;
      border-left: 4px solid tint($base-color, 80%);
      padding: 0 0 0 8px;
    }
  }

  .prose-prime-title {
    font-size: 24px;
    line-height: 32px;
    a, a:visited {
      color: inherit;
    }
    a:after {
      @extend .icon-arr-right;
      font-size: 16px;
      vertical-align: middle;
      margin-left: 2px;
      @include opacity(0.48);
    }
    small {
      @extend .hd-label;
      display: block;
      font-size: 16px;
      line-height: 1;
      @include opacity(0.48);
    }
    span:not(#oil-name) {
      @extend .visually-hidden;
    }
  }
  .prose-meta {
    @extend .hd-label;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    color: tint($base-color, 56%);
    .bttn-xs {
      vertical-align: top;
      margin: 0 2px;
    }
  }
  .prose-meta ~ .prose-prime-title  {
    margin-top: -16px;
  }


