/* temporary css for static pages */

.doc-nav, .doc-nav li {margin:0;padding:0; list-style:none;}

.doc-nav {
	display:table;
	margin-left:0;
	width:100%;
}

.doc-nav li {
	font-size:.8em;
	font-weight:bold;
	float:left;
	line-height:normal;
	margin-right:2em;
	text-transform:uppercase;
}

.doc-nav li a {
	color:#3d71b7;
	text-decoration: underline;
	line-height:normal;
}

.prose.prose-content .contentImg {
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top center;
	display:block;
}

.prose.prose-content .contentImg.float-left {
	float:left;
	margin: 0.3em 2% 0.5em 0;
}

.prose.prose-content .contentImg.full-width {
	float:none;
	margin-left:0;
	margin-right:0;
	margin-bottom:2em;
	width:100%;
}

.prose.prose-content .contentImg.headshot {
	width:126px;
	height:162px;
}

#gordon {background-image:url(/images/content/gordon.jpg);}
#bergerson {background-image:url(/images/content/bergerson.jpg);}
#brandt {background-image:url(/images/content/brandt.jpg);}
#koomey {background-image:url(/images/content/koomey.jpg);}
#livingston {background-image:url(/images/content/livingston.jpg);}
#tan {background-image:url(/images/content/tan.jpg);}

#opgee-model-schematic {background-image:url(/images/content/OPGEE-schematic.png); padding-top:70%;}
#prelim-model-schematic {background-image:url(/images/content/PRELIM-schematic.png); padding-top:132%;}
#opem-model-schematic {background-image:url(/images/content/OPEM-Schematic-updated.png); padding-top:66%;}

.data-table {
	margin-bottom:1em;
}

.data-table.float-right {
	float:right;
	margin-left:2em;
	margin-right:0;
	margin-top:.5em;
	width:50%;
}

.data-table td {
	background-color:white;
	padding:.5em 1em;
	text-align:left;
}

.data-table thead td {
	font-weight: bold;
	font-size:.9em;
	text-transform: uppercase;
}